<app-listado-generico [listado]="movies">
  <ng-container vacio>
    <div>Mensaje personalizado para contenido <b>Vacio</b></div>
  </ng-container>
  <ng-container contenido>

   <div 
      *ngFor= "let movie of movies; let index = index " 
      class="contein-movies"
    >
      <div> 
        <h2>movie{{index}}::{{movie.title }}
        <button style="margin-left: 1rem;" (click)="remover(index)">
          Remover
        </button>
      </h2>
       </div>
      <div>
        {{movie.releaseDate | date:"dd-MMMM-yyyy"}}
      </div>
      <div>
        {{movie.price | currency}}
      </div>
    </div>
  </ng-container>
</app-listado-generico>